			<!DOCTYPE html>
			<html>
			
			<script src="{{url_for('static', filename='jsfile/jquery-2.1.3.js')}}"></script>
			<script src="{{url_for('static', filename='jsfile/three.js')}}"></script>
			<script src="{{url_for('static', filename='jsfile/OrbitControls.js')}}"></script>
			<script src="{{url_for('static', filename='jsfile/Detector.js')}}"></script>
			<script src="{{url_for('static', filename='jsfile/stats.min.js')}}"></script>
			<script src="{{url_for('static', filename='jsfile/STLLoader.js')}}"></script>
			<script src="{{url_for('static', filename='jsfile/TransformControls.js')}}"></script>
			<script src="{{url_for('static', filename='fonts/gentilis_bold.typeface.js')}}"></script>
			<script src="{{url_for('static', filename='fonts/gentilis_regular.typeface.js')}}"></script>
			<script src="{{url_for('static', filename='fonts/optimer_bold.typeface.js')}}"></script>
			<script src="{{url_for('static', filename='fonts/optimer_regular.typeface.js')}}"></script>
			<script src="{{url_for('static', filename='fonts/helvetiker_bold.typeface.js')}}"></script>
			<script src="{{url_for('static', filename='fonts/helvetiker_regular.typeface.js')}}"></script>
			<script src="{{url_for('static', filename='fonts/droid_sans_bold.typeface.js')}}"></script>
			<script src="{{url_for('static', filename='fonts/droid_sans_regular.typeface.js')}}"></script>
			<script src="{{url_for('static', filename='fonts/droid_serif_bold.typeface.js')}}"></script>
			<script src="{{url_for('static', filename='fonts/droid_serif_regular.typeface.js')}}"></script>
			
			<head>
				
			<style type="text/css">
			 div#viewport {
			  position:absolute;
			  left:0px; 
			  top:0px
			  background-color:#7EC0EE;
			  background: #7EC0EE;
			  background-image: linear-gradient(#7d8fa3, #1b1c1e);
			  width:100%;
			  height:100%;
			 }
			 div#toolBar {
			  position:absolute;
			  left:0px; 
			  top:0px
			  width:10%;
			  height:10%;
			 }
			 div#NewsTop {
			 position:absolute;
			 float: center;
			 width:100%;
			 height:100%;
			 display: none;
			 }
			 h1 {margin-bottom:0;}
			 h2 {margin-bottom:0; font-size:14px;}
			 ul {margin:0;}
			 li {list-style:none;}
			 
			*{padding:0; margin:0}
			img{border:0; display:block;}
			
			.dis {
					display: block
			}
			.undis {
					display: none
			}
			#NewsTop P {
					FLOAT: left; LINE-HEIGHT: 21px
			}
			#NewsTop P.topC0 {
					BACKGROUND: #dcdcdc;  WIDTH: 55px; CURSOR: pointer;TEXT-ALIGN: center ;
			}
			#NewsTop P.topC1 {
					BACKGROUND: #c2130e; WIDTH: 55px; COLOR: #fff;TEXT-ALIGN: center ;
			}
			#NewsTop #NewsTop_tit {
					BORDER-BOTTOM: #c2130e 3px solid; HEIGHT: 21px;width=350
			}
			#NewsTop #NewsTop_cnt {
					PADDING-LEFT: 15px;  LINE-HEIGHT: 26px; PADDING-TOP: 7px; HEIGHT: 350px; TEXT-ALIGN: left ;
			}
			#NewsTop #NewsTop_cnt A {
					color: #666; TEXT-DECORATION: none
			}
			</style>
			</head>
			
			<body>
			
			<div id="NewsTop">
			<div id="NewsTop_tit">
			<p class="topC0">File</p>
			<p class="topC0">Full</p>
			<p class="topC0">Expert</p>
			</div>

			<div id="NewsTop_cnt">
			<span>
			<h2>Upload file</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			
			<form id="upload-file" method="post" enctype="multipart/form-data">
			<fieldset>
			  <label for="file">Select a file</label>
			 	    <input type="file" multiple="" name="file[]" class="span3" />
			 	    <button id="upload-file-btn" type="button">Upload</button>
			  	<div id='uploadinfo'></div>
			 </fieldset>
			</form>
			<br>

			<h2>Server files</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			<select id="se_filelist" onClick = "bt_filelistclick()" onChange = "se_onchange(this.value)">
			</select>
			<br><br>
					   
			<h2>Silce model</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1> 
			<fieldset>
			<input type="button" name="slice" id="slice" value="Slice" onClick="bt_slice();">
			<div id="sliceResult"</div>
			</fieldset>
			<br>

			<h2>Print model</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			<fieldset>
			<input type="button" name="print" id="print" value="Print" onClick="bt_print();">
			<div id="printResult"</div>
			</fieldset>
			</span>
			
			<span>
         <h2>Basic</h2>
			<h2>Quality</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
         
			<table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="200px"  ><label for="layerheight">Layer height (mm)</label></td>
			  <td><input id="layerheight"  style="width:90px"  value="0.2" ></td>
			  <td></td>
			</tr>
			<tr>
			  <td align="left" width="200px"><label for="shellthickness">Shell thickness (mm)</label></td>
			  <td><input id="shellthickness"  style="width:90px"  value="0.8" ></td>
			  <td></td>
			</tr>
			<tr>
			  <td align="left" width="200px"><label >Enable retraction</label></td>
			  <td><input type="checkbox" name="enableretraction" id="cb_enableretraction" checked=true ></td>
			  <td><button id="bt_enableretraction" type="button">...</button></td>
			</tr>
			</table>
			<h2>Fill</h2>
			<hr align=center width=350 color=#987cb9 size=1>
			<table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="200px"  ><label>Bottom/Top thickness (mm)</label></td>
			  <td><input id="in_bottomtopthickness"  style="width:90px"  value="0.6" ></td>
			  <td></td>
			</tr>
			<tr>
			  <td align="left" width="160px"><label >Fill Density (%)</label></td>
			  <td><input id="filldensity"  style="width:90px"  value="20" ></td>
			  <td><button id="bt_filldensity" type="button">...</button></td>
			</tr>
			</table>
			
			<h2>Speed and Temperature</h2>
			<hr align=center width=350 color=#987cb9 size=1>
			<table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="200px"  ><label>Print speed (mm/s)</label></td>
			  <td><input id="in_printspeed"  style="width:90px"  value="50" ></td>
			  <td></td>
			</tr>
			</table>
			
			<h2>Surpport</h2></h2>
			<hr align=center width=350 color=#987cb9 size=1>
			<table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="200px"  ><label>Support type</label></td>
				<td align="left" width="90px">   
				<select>  
				<option value ="1">None</option>  
				<option value ="2">Touching buildplate</option>  
				<option value="3">Everywhere</option>  
				 </select>   
				</td>
			  <td><button id="bt_surpporttype" type="button">...</button></td>
			</tr>
			<tr>
			  <td align="left" width="160px"><label >Platform adhesion type</label></td>
			  <td align="left" width="90px">		
			  	<select>
			  	<option value ="1">None</option>  
				<option value ="2">Brim</option>  
				<option value="3">Raft</option>  
				 </select>
				 </td>
			  <td><button id="bt_platformadhesiontype" type="button">...</button></td>
			</tr>
			</table>
			
			<h2>Machine</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			<table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="200px"  ><label>Nozzle size (mm)</label></td>
			  <td><input id="in_nozzlesize"  style="width:90px"  value="0.4" ></td>
			  <td></td>
			</tr>
			</table><br>
		        	
		    <h2>Advanced</h2>    	
			<h2>Quality</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			<table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="200px"  ><label>Inital layer thickness (mm)</label></td>
			  <td><input id="in_initallayerthickness"  style="width:90px"  value="0.3" ></td>
			  <td></td>
			</tr>
			<tr>
			  <td align="left" width="200px"  ><label>Inital layer line width (%)</label></td>
			  <td><input id="in_initallayerlinewidth"  style="width:90px"  value="100" ></td>
			  <td></td>
			</tr>
			<tr>
			  <td align="left" width="200px"  ><label>Cut off object bottom (mm)</label></td>
			  <td><input id="in_cutoffobjectbottom"  style="width:90px"  value="0.0" ></td>
			  <td></td>
			</tr>
			<tr>
			  <td align="left" width="210px"  ><label>Dual extrusion overlap (mm)</label></td>
			  <td><input id="in_dualextrusionoverlap"  style="width:90px"  value="0.15" ></td>
			  <td></td>
			</tr>
			</table>
			
			
			<h2>Speed</h2></h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			<table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="200px"  ><label>Travel speed (mm/s)</label></td>
			  <td><input id="in_travelspeed"  style="width:90px"  value="150.0" ></td>
			  <td></td>
			</tr>
			<tr>
			  <td align="left" width="200px"  ><label>Bottom layer speed(mm/s)</label></td>
			  <td><input id="in_bottomlayerspeed"  style="width:90px"  value="20" ></td>
			  <td></td>
			</tr>
			<tr>
			  <td align="left" width="200px"  ><label>Infill speed(mm/s)</label></td>
			  <td><input id="in_infillspeed"  style="width:90px"  value="50" ></td>
			  <td></td>
			</tr>
			<tr>
			  <td align="left" width="210px"  ><label>Outer shell speed(mm/s)</label></td>
			  <td><input id="in_outershellspeed"  style="width:90px"  value="0.0" ></td>
			  <td></td>
			</tr>
			<tr>
			  <td align="left" width="210px"  ><label> Inner shell speed(mm/s)</label></td>
			  <td><input id="in_innershellspeed"  style="width:90px"  value="0.0" ></td>
			  <td></td>
			</tr>
			</table>
			
			
			<h2>Cool</h2></h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			<table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="200px"  ><label>Minimal layer time (sec)</label></td>
			  <td><input id="in_minimallayertime"  style="width:90px"  value="5" ></td>
			  <td></td>
			</tr>
			<tr>
			  <td align="left" width="200px"  ><label>Enable cppling fan</label></td>
			  <td><input type="checkbox" name="enablecpplingfan" id="cb_enablecpplingfan" ></td>
			  <td><button id="bt_enablecpplingfan" type="button">...</button></td>
			</tr>
			</table>
			</span>
				
			<span>
			<h2>Retraction</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			<table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="250px"  ><label>Minimum travel (mm)</label></td>
			  <td><input id="in_minimumtravel"  style="width:90px"  value="1.5" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Enable combing</label></td>
			  <td><input type="checkbox" name="enablecombing" id="cb_enablecombing" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Minimal extrusion before retracting (mm)</label></td>
			  <td><input id="in_minimalextrusionbeforeretracting"  style="width:90px"  value="0.02" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Z hop when retracting (mm)</label></td>
			  <td><input id="in_zhopwhenretracting"  style="width:90px"  value="0.0" ></td>
			</tr>
			</table>
			
			<h2>Skirt</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			<table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="250px"  ><label>Line count </label></td>
			  <td><input id="in_linecount"  style="width:90px"  value="1" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Start distance</label></td>
			  <td><input id="in_startdistance"  style="width:90px"  value="3.0" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Minimal length (mm)</label></td>
			  <td><input id="in_minimallength"  style="width:90px"  value="150.0" ></td>
			</tr>
			</table>
			
			<h2>Cool</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			<table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="250px"  ><label>Fan full on at height (mm)</label></td>
			  <td><input id="in_fanfullonat height"  style="width:90px"  value="5.0" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Fan speed min (%)</label></td>
			  <td><input id="in_fanspeedmin"  style="width:90px"  value="100" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Fan speed  max (%)</label></td>
			  <td><input id="in_fanspeedmax"  style="width:90px"  value="100" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Minimum speed (mm/s)</label></td>
			  <td><input id="in_minimumspeed"  style="width:90px"  value="10" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Cool head lift</label></td>
			  <td><input type="checkbox" name="coolheadlift" id="cb_coolheadlift" ></td>
			</tr>
			</table>
			
			<h2>Infill</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			<table>
			<tr>
			  <td align="left" width="250px"  ><label>Solid infill top</label></td>
			  <td><input type="checkbox" name="solidinfilltop" id="cb_solidinfilltop" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Solid infill bottom</label></td>
			  <td><input type="checkbox" name="solidinfillbottom" id="cb_solidinfillbottom" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Infill overlap (%)</label></td>
			  <td><input id="in_infilloverlap"  style="width:90px"  value="15" ></td>
			</tr>
			</table>
			
			<h2>Support</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			<table>
			<tr>
			<td align="left" width="250px"  ><label>Structure type</label></td>
			<td align="left" width="90px">   
			<select>  
			<option value ="1">Grid</option>  
			<option value ="2">Lines</option>  
			 </select>   
			</td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Overhang angle for support (deg)</label></td>
			  <td><input id="in_overhangangleforsupport "  style="width:90px"  value="60" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Fill amount (%)</label></td>
			  <td><input id="in_fillamount"  style="width:90px"  value="15" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Distance X/Y (mm)</label></td>
			  <td><input id="in_distancexy"  style="width:90px"  value="0.7" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Distan Z (mm)</label></td>
			  <td><input id="in_distanz "  style="width:90px"  value="0.15" ></td>
			</tr>
			</table>	
			<h2>Black Magic</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			<table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="250px"  ><label>Spiralize the outer contour</label></td>
			  <td><input type="checkbox" name="spiralizetheoutercontour" id="cb_spiralizetheoutercontour" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Only follow mesh surface</label></td>
			  <td><input type="checkbox" name="onlyfollowmeshsurface" id="cb_onlyfollowmeshsurface" ></td>
			</tr>
			</table>
			<h2>Brim</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			<table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="250px"  ><label>Brim line amount</label></td>
			  <td><input id="in_brimlineamount "  style="width:90px"  value="20" ></td>
			</tr>
			</table>
			<h2>Raft</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			<table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="250px"  ><label>Extra margim (mm)</label></td>
			  <td><input id="in_extramargim "  style="width:90px"  value="5.0" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Line spacing (mm)</label></td>
			  <td><input id="in_linespacing"  style="width:90px"  value="3.0" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Basic thickness (mm)</label></td>
			  <td><input id="in_basicthickness "  style="width:90px"  value="0.3" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Basic line width (mm)</label></td>
			  <td><input id="in_basiclinewidth "  style="width:90px"  value="1.0" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Interface thickness (mm)</label></td>
			  <td><input id="in_interfacethickness "  style="width:90px"  value="0.27" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Interface line width (mm)</label></td>
			  <td><input id="in_interfacelinewidth  "  style="width:90px"  value="0.4" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Airgap </label></td>
			  <td><input id="in_airgap "  style="width:90px"  value="0.0" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>First layer Airgap </label></td>
			  <td><input id="in_firstlayerairgap  "  style="width:90px"  value="0.22" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Surface layers </label></td>
			  <td><input id="in_surfacelayers "  style="width:90px"  value="2" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label> Surface layer thickness(mm)</label></td>
			  <td><input id="in_surfacelayerthickness "  style="width:90px"  value="0.27" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Surface Layer thickness (mm)</label></td>
			  <td><input id="in_surfacelayerthickness "  style="width:90px"  value="0.4" ></td>
			</tr>
			</table>
			<h2>Fix horrible</h2>
			<hr align=center width=350 color=#987cb9 SIZE=1>
			<table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="250px"  ><label>Combine everything(Type-A)</label></td>
			  <td><input type="checkbox" name="combineeverythinga" id="cb_combineeverythinga" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Combine everything(Type-B)</label></td>
			  <td><input type="checkbox" name="combineeverythingb" id="cb_combineeverythingb" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Keep open faces</label></td>
			  <td><input type="checkbox" name="keepopenfaces" id="cb_keepopenfaces" ></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  ><label>Extensive stitching</label></td>
			  <td><input type="checkbox" name="extensivestitching" id="cb_extensivestitching" ></td>
			</tr>
         </table>
			</span>
			
			</div>
			</div>

			<div id='viewport'></div>
			
			<div id='toolBar'>
         <table border="0" cellpadding="2" cellspacing="1" >
			<tr>
			  <td align="left" width="250px"  ><input type="button" style="width:55px" name="setting" id="bt_setting" value="File" onClick="bt_show_setting();"></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  >  <input type="button" style="width:55px"  name="rotate" id="bt_rotate" value="Rotate" onClick="bt_rotate();"></td>
			</tr>
			<tr>
			  <td align="left" width="250px"  > <input type="button" style="width:55px"  name="scale" id="bt_scale" value="Scale" onClick="bt_scale();"> </td>
			</tr>
			<tr>
			  <td align="left" width="250px"  > <input type="button" style="width:55px"  name="positon" id="bt_positon" value="Position" onClick="bt_positon();"> </td>
			</tr>
			<tr>
			  <td align="left" width="250px"  >  <input type="button" style="width:55px"  name="reset" id="bt_reset" value="Reset" onClick="bt_reset();"></td>
			</tr>
         </table>
			</div>
			
			<div id="back_view" style="position:fixed;bottom:10px;right:30px; display:none; overflow:hidden;cursor:pointer;" onclick="bt_back_view()"><img src="static/img/return.ico"></div>
			<meta charset='utf-8'>
			<meta name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0'>
			</div>
			
			</body>
			
			<script>
			 
			 var current_file = "test1.stl";
			
				$(function() {
				$('#upload-file-btn').click(function() {
				$("#uploadinfo").html("uploading...");
				var form_data = new FormData($('#upload-file')[0]);
				$.ajax({
				type: 'POST',
				url: '/upload',
				data: form_data,
				contentType: false,
				cache: false,
				processData: false,
				async: true,
				success: function(data) {
				console.log(data.result);
				console.log(data.filename);
				$("#uploadinfo").html(data.result);
				current_file = data.filename;
				reload(data.filename);  
				},
				});
				});
				}); 
			  
		
			 function bt_slice() {
			// alert ( document.getElementById("in_infillspeed").value);
			  $("#sliceResult").html("Slicing...");
			  $.ajax({
			type: "POST",
			url: "/slice",
			contentType: "application/json", 
			dataType: "json",
			data: JSON.stringify({
			 "currentfile": current_file,
			 "matrix": [
			  1,
			  2,
			  3,
			  4,
			  5,
			  6,
			  7,
			  8,
			  9
			 ],
			 "settings": {
			  "layerThickness": document.getElementById("layerheight").value*1000 ,//100  层厚度
			  "initialLayerThickness": document.getElementById("in_initallayerthickness").value*1000,//300 初始层厚度
			  "filamentDiameter": 2890,//2890 丝直径
			  "filamentFlow": 100,//100  丝流量
			  "layer0extrusionWidth": 600,//600  第0层挤出宽度
			  "extrusionWidth": 400,//400 挤出宽度
			  "insetCount": 2,//2  插入的数量
			  "downSkinCount": 6,//6  下裙的数量
			  "upSkinCount": 6,//6    上面的个数
			  "skirtDistance": 6000,//6000  	裙的距离
			  "skirtLineCount": 1,//1  裙线的条数
			  "skirtMinLength": 0,//0  群最小长度
			  "initialSpeedupLayers": 4,//4 上层的初始速度
			  "initialLayerSpeed": document.getElementById("in_bottomlayerspeed").value,//20  初始层速度
			  "printSpeed": document.getElementById("in_printspeed").value ,//50 打印速度
			  "inset0Speed": 50,//50 插入0层的速度
			  "insetXSpeed": 50,//50 插入x层的速度
			  "moveSpeed": document.getElementById("in_travelspeed").value ,//150  移动速度
			  "fanFullOnLayerNr": 2,//2 风扇
			  "sparseInfillLineDistance": 2000,//2000  填充线稀疏的距离
			  "infillOverlap": 15,//15   填充圈
			  "infillSpeed": document.getElementById("in_infillspeed").value ,//50  填充速度
			  "infillPattern": 0,//0    填充图形
			  "supportType": 0,//0    支持类型
			  "supportAngle": -1,//-1   支持的角度
			  "supportEverywhere": 0,//0 任何地方都支持
			  "supportLineDistance": 2000,//2000  支持线距
			  "supportXYDistance": 700,//700 支持XY轴距离
			  "supportZDistance": 150,//150 支持Z轴的距离
			  "supportExtruder": -1,//-1   支持挤出机
			  "retractionAmount": 4500,//450   回缩量
			  "retractionAmountPrime": 0,//0  主要回缩量
			  "retractionSpeed": 45,//45 回缩速度
			  "retractionAmountExtruderSwitch": 14500,//14500   挤出机切换回缩量
			  "retractionMinimalDistance": 1500,//1500 回缩最小距离
			  "minimalExtrusionBeforeRetraction": 100,//100  //回缩前最小挤压
			  "retractionZHop": 0,//0    回缩 z跳
			  "enableCombing": 1,//1   精梳
			  "enableOozeShield": 0,//0   流浆盾
			  "wipeTowerSize": 0,//0  擦拭塔的尺寸
			  "multiVolumeOverlap": 0,//0  //多体积叠加
			  "objectSink": 0,//0   物体的槽
			  "autoCenter": 1,//1    自动移到中心
			  "raftMargin": 5000,//500 阀板边距
			  "raftLineSpacing": 1000,//1000 阀板线间距
			  "raftBaseThickness": 0,//0阀板基础厚度
			  "raftBaseLinewidth": 0,//0 阀板基础线宽
			  "raftInterfaceThickness": 0,//0 阀板接口厚度
			  "raftInterfaceLinewidth": 0,//0 阀板接口线宽
			  "raftInterfaceLineSpacing": 0,//0 阀板接口线间距
			  "raftAirGap": 0,//0  筏板气隙
			  "raftAirGapLayer0": 0,//0 阀板
			  "raftBaseSpeed": 0,//0 阀板基础速度
			  "raftFanSpeed": 0,//0  阀板风扇速度
			  "raftSurfaceThickness": 0,//0  //筏板表面厚度
			  "raftSurfaceLinewidth": 0,//0   筏板表面线宽
			  "raftSurfaceLineSpacing": 0,//0  筏板表面线间距
			  "raftSurfaceLayers": 0,//0  筏板表面层
			  "raftSurfaceSpeed": 0,//0 筏板表面速度
			  "minimalLayerTime": 5,//5 最小层时间
			  "minimalFeedrate": 10,//10 最小进给速度 
			  "coolHeadLift": 0,//0  //冷头升降机
			  "fanSpeedMin": 100,//100 风扇最小速度
			  "fanSpeedMax": 100,//100 风扇最大速度
			  "fixHorrible": 0,//0  修复坏点
			  "spiralizeMode": 0,//0  螺旋模式
			  "simpleMode": 0,//0  简单模式
			  "gcodeFlavor": 0//0  gcode 风格
			  }
			}), 
			success: function (jsonResult) {
			//alert(jsonResult);
			  $("#sliceResult").html(jsonResult.output +"---------"+ jsonResult.result);
			  }
			  });
			//          CuraEngine -o /static/outfile/myout.gcode /static/models/test.stl     
			  }  
			
			
			
			 function bt_print() {
			 $("#printResult").html("print...");
			 $.ajax({
			  type: "POST",
			  url: "/print",
			  contentType: "application/json", 
			  dataType: "json",
			  success: function (jsonResult) {
			 $("#printResult").html(jsonResult.result+jsonResult.output);
			}
			});
			 //CuraEngine -o /static/outfile/myout.gcode /static/models/test.stl     
			 }
			
			
			///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
			
			
			 var container, scene, camera, renderer;
			 var myMesh,myMesh_bak,control;
			 var devW=200,devD=200,devH=200;//(mm)
			 function render() {
			control.update();
			renderer.render( scene, camera );    
			}
			
			 function threePointLight() {
				  var directionalLight = new THREE.DirectionalLight( 0xb8b8b8 );
				  directionalLight.position.set(1, 1, 1).normalize();
				  directionalLight.intensity = 1.0;
				  scene.add( directionalLight );
				  directionalLight = new THREE.DirectionalLight( 0xb8b8b8 );
				  directionalLight.position.set(-1, 0.6, 0.5).normalize();
				  directionalLight.intensity = 0.5;
				  scene.add(directionalLight);
				  directionalLight = new THREE.DirectionalLight();
				  directionalLight.position.set(-0.3, 0.6, -0.8).normalize( 0xb8b8b8 );
				  directionalLight.intensity = 0.45;
				  scene.add(directionalLight);
			 }
			
			
			
			 function setupScene( result ) {
				 scene = result;
				 threePointLight();
				 render();
			 }
			function animate() {
				requestAnimationFrame( animate );
				render();
			}
			
			
			 function loadSTL(dir) {
				  // Binary files
				  var loader = new THREE.STLLoader();
				  loader.addEventListener('load', function(event) {
				  var material = new THREE.MeshPhongMaterial({
				ambient: 0xff5533,
				color: 0xff5533,
				specular: 0x111111,
				shininess: 200
			});
			//      var geometry1 = new THREE.CubeGeometry( 3, 3, 3 );  
			//      var material1 = new THREE.MeshBasicMaterial( { color: 0x000000 } );  
			//      var cube = new THREE.Mesh( geometry1, material1 );  
			//      cube.position.set(0, 0, 0);
			  var geometry = event.content;
			//mymax=geometry.boundingBox.max.length ();
			  //var sphereRadius = geometry.boundingSphere.radius;
			  //console.log("------------->"+sphereRadius.radius);
			  //var mymax = geometry.lineDistances;
			  //console.log("------------->"+sphereRadius);
			  var mesh = new THREE.Mesh(geometry, material);
			  var mesh_bak = new THREE.Mesh(geometry, material);
			  //mesh.position.set(3, 3, 3);
			  mesh.rotation.set(-Math.PI/2, 0, 0);
			  //mesh.scale.set(2, 2, 2);
		
			
			//   mesh_bak.position.set(4, 4, 4);
			// mesh_bak.rotation.set(-Math.PI/2, 0, 0);
			//  mesh_bak.scale.set(1, 1, 1);
			//console.log(mesh.matrix.elements);
			//console.log(mesh_bak.matrix.elements);
			 
			mesh.castShadow = true;
			mesh.receiveShadow = true;
			myMesh = mesh;
			myMesh_bak = mesh_bak;
			scene.add(mesh);
			scene.add(mesh_bak);
			control.attach( mesh );
			scene.add( control );
			mesh_bak.visible = false;//
			 });
			loader.load(dir);
			 }
			
				
				function onWindowResize() {
					camera.aspect = window.innerWidth / window.innerHeight;
					camera.updateProjectionMatrix();
					renderer.setSize( window.innerWidth, window.innerHeight );
					render();
				}

			 function addShadowedLight(x, y, z, color, intensity) {
				  var directionalLight = new THREE.DirectionalLight(color, intensity);
				  directionalLight.position.set(x, y, z)
				  scene.add(directionalLight);
				  directionalLight.castShadow = true;
				  directionalLight.shadowCameraVisible = true;
				  var d = 1;
				  directionalLight.shadowCameraLeft = -d;
				  directionalLight.shadowCameraRight = d;
				  directionalLight.shadowCameraTop = d;
				  directionalLight.shadowCameraBottom = -d;
				  directionalLight.shadowCameraNear = 1;
				  directionalLight.shadowCameraFar = 4;
				  directionalLight.shadowMapWidth = 1024;
				  directionalLight.shadowMapHeight = 1024;
				  directionalLight.shadowBias = -0.005;
				  directionalLight.shadowDarkness = 0.15;
			 }
			
			function init(mydir) {
			var SCREEN_WIDTH = window.innerWidth, SCREEN_HEIGHT = window.innerHeight;
			scene = new THREE.Scene();
			var size =100;                           
			var rmaterial = new THREE.LineBasicMaterial({ color: 0x00BFFF });
			var lmaterial = new THREE.LineBasicMaterial({ color: 0x63B8FF });
			var geometry = new THREE.Geometry();
			
			rplane = new THREE.Mesh( new THREE.PlaneGeometry( size*2,size*2,3,3 ), rmaterial );
			lplane = new THREE.Mesh( new THREE.PlaneGeometry( size*2,size*2,3,3 ), lmaterial );
			
			// rotation.z is rotation around the z-axis, measured in radians (rather than degrees)
			// Math.PI = 180 degrees, Math.PI / 2 = 90 degrees, etc.
			lplane.rotation.y = Math.PI / 2;
			rplane.position.set( 0,size,-size );
			lplane.position.set( -size,size,0 );
			scene.add(rplane);
			scene.add(lplane);
			
			
			// add 3D text
			
			var materialFront = new THREE.MeshBasicMaterial( { color: 0xffffff } );
			
			var materialSide = new THREE.MeshBasicMaterial( { color: 0x4444444 } );
			
			var materialArray = [ materialFront, materialSide ];
			
			var textGeom = new THREE.TextGeometry( "Tizen slicer", 
			
			{
			size: 10, height: 4, curveSegments: 3,
			font: "helvetiker", weight: "bold", style: "normal",
			bevelThickness: 1, bevelSize: 2, bevelEnabled: true,
			
			material: 0, extrudeMaterial: 1
			
			});
			// font: helvetiker, gentilis, droid sans, droid serif, optimer
			// weight: normal, bold
			
			var textMaterial = new THREE.MeshFaceMaterial(materialArray);
			
			text_3D = new THREE.Mesh(textGeom, textMaterial );
			
			
			textGeom.computeBoundingBox();
			var textWidth = textGeom.boundingBox.max.x - textGeom.boundingBox.min.x;
			
			text_3D.position.set( 0, size, -size  );
			
			scene.add(text_3D);
			
			
			
			
			
			//var hex = 0xff0000;
			//var sphereMaterial = new THREE.MeshLambertMaterial( {color: 0x00ff00} );
			//var sphere = new THREE.Mesh( new THREE.SphereGeometry( 10, 4, 4), sphereMaterial );
			//scene.add( sphere ); 
			//var bbox = new THREE.BoundingBoxHelper( sphere, hex ); 
			//bbox.update(); 
			//scene.add( bbox );
			scene.add( new THREE.GridHelper( size, size/5 ) );
			scene.add( new THREE.AxisHelper(size) );
			
			//scene.add( new THREE.ArrowHelper(new THREE.Vector3(0,1,-1),new THREE.Vector3(0,0,0), 5, 0xf0f000));
			
			container = document.getElementById('viewport');
			renderer = new THREE.WebGLRenderer( { antialias: true, alpha: true      } );
			renderer.setSize( container.offsetWidth, container.offsetHeight );
			
			renderer.sortObjects = false;
			renderer.setClearColor( 0x000000, 0 );
         container.appendChild( renderer.domElement );

			var aspect = container.offsetWidth / container.offsetHeight;
			camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 1, 2000 );
			camera.position.x = 140;
			camera.position.y = 140;
			camera.position.z = 110;
			var target = new THREE.Vector3( 0, 40, 0 );
			camera.lookAt( target );
			camera.updateProjectionMatrix();
			window.addEventListener( 'resize', onWindowResize, false );
			scene.add(new THREE.AmbientLight(0x777777));
			loadSTL(mydir);
			
			control = new THREE.TransformControls( camera, renderer.domElement );
			control.setSize( control.size +0.6 );
			control.setSpace( "world" );
			control.addEventListener( 'change', render );
			
			
			window.addEventListener( 'keydown', function ( event ) {
			//console.log(myMesh.position);
			//console.log(myMesh.rotation.toArray());
			//console.log(myMesh.scale);
			//myMesh.position.set(4, 4, 4);
			//(myMesh.position);
			//(myMesh.rotation.toArray());
			//(myMesh.scale);
			myMesh_bak.position.set(myMesh.position.x,myMesh.position.y,myMesh.position.z);
			myMesh_bak.rotation.set(myMesh.rotation.x+Math.PI/2,myMesh.rotation.y,myMesh.rotation.z);
			myMesh_bak.scale.set(myMesh.scale.x,myMesh.scale.y,myMesh.scale.z);
			console.log(myMesh.matrix.elements);
			console.log(myMesh_bak.matrix.elements);
			
			//	console.log(event.which);
			switch ( event.keyCode ) {
			  case 81: // Q
			 control.setSpace( control.space == "local" ? "world" : "local" );
			 break;
			  case 87: // W
			 control.setMode( "translate" );
			 break;
			  case 69: // E
			 control.setMode( "rotate" );
			 break;
			  case 82: // R
			 control.setMode( "scale" );
			 break;
			case 187:
			case 107: // +,=,num+
			control.setSize( control.size + 0.1 );
			break;
			case 189:
			case 10: // -,_,num-
			control.setSize( Math.max(control.size - 0.1, 0.1 ) );
			break;
			}
			});
			
			addShadowedLight(1, 1, 1, 0xffffff, 1.00);
			animate();
			render();
			}
			
			function reload(mydir) {
					scene.remove(myMesh);
					renderer.clear();
					//{% set u = 'test3.stl' %}
					loadSTL("/static/models/"+mydir);
					render();
			}
			
			function bt_rotate(){
				 control.setMode( "rotate" );
				 control.setSpace( "world" );
			}
			
		  function bt_scale(){
				  control.setMode( "scale" );
			}
		  function bt_positon(){
		 		  control.setMode( "translate" );
		 		  control.setSpace( "world" );
			}
			
        function bt_reset(){
			      reload(current_file);  
			}
		/*	
			function bt_filelistclick(){
	//	   var se = document.getElementById('se_filelist');	
	//		var selLen=document.getElementById("se_filelist").options.length;
	//		for(var i=0;i<selLen;i++)
	//		{
	//   	se.options.remove(i);
		//	}
	   	//document.getElementById('se_filelist').innerHTML = ""
			$.ajax({
			url: '/listfile',
			contentType: "application/json", 
			success: function(data) {
			//console.log(data.filelist); //lidongdong
			var filelist = data.filelist;
			var se = document.getElementById('se_filelist');
			for (var i=0;i<= filelist.length;i++ )
			        se.options.add(new Option(filelist[i]));
			 },
			});
			}
		*/	
			function se_onchange(value){
			current_file = value;
			reload(current_file)
			}
		function bt_show_setting()
			{
						$("#viewport").hide();
						$("#toolBar").hide();
						$("#NewsTop").show();
						$("#back_view").show();	
			}
			function bt_back_view()
			{
						$("#viewport").show();
						$("#toolBar").show();
						$("#NewsTop").hide();
						$("#back_view").hide();	
			}

			init("{{url_for('static', filename='models/test1.stl')}}");
			
			$.ajax({
			url: '/listfile',
			contentType: "application/json", 
			success: function(data) {
			var filelist = data.filelist;
			var se = document.getElementById('se_filelist');
			for (var i=0;i<= filelist.length;i++ )
			 			       se.options.add(new Option(filelist[i]));
			 },
			});
	
			</script>
			
			<script>
			var Tags=document.getElementById('NewsTop_tit').getElementsByTagName('p'); 
			var TagsCnt=document.getElementById('NewsTop_cnt').getElementsByTagName('span'); 
			var len=Tags.length; 
			var flag=0;
			
			for(i=0;i<len;i++){
			Tags[i].value = i;
			Tags[i].onclick=function(){changeNav(this.value)}; 
			TagsCnt[i].className='undis'; 
			}
			Tags[flag].className='topC1';
			TagsCnt[flag].className='dis';

			function changeNav(v){ 
			Tags[flag].className='topC0';
			TagsCnt[flag].className='undis';
			flag=v; 
			Tags[v].className='topC1';
			TagsCnt[v].className='dis';
			}
</script>

</html>
